{% extends 'base.html.twig' %}


{% block title %} Reinitialisation de mot de passe{% endblock %}

{% block body %}
<h1>reinitialisation de mot de passe</h1>
    <div class="container">
        {{ form_start(requestPass) }}
            {{ form_row(requestPass) }}
            <button type="submit"> Envoyer </button>
        {{ form_end(requestPass) }}
    </div>
{% endblock %}



