*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  color: white;
    a{
      text-decoration: none;
      color: rgb(253, 254, 255);
      &:hover{
        color: $color-primary;
      }
    }
}