{% extends 'base.html.twig' %}

{% block body %}
    <main class="home-container">
        <div class="datePlayoff">
            <p class="temps">Temps restant avant examen, bouge toi le cul !</p>
            <div class="playoffTime">
                <div class="days playoffs">
                    <div class="number" id="days">0</div>
                    <p class="days__days">Days</p>
                </div>
                <div class="hours playoffs">
                    <div class="number" id="hours">0</div>
                    <p class="hours__days">hours</p>
                </div>
                <div class="minutes playoffs">
                    <div class="number" id="mins">0</div>
                    <p class="minutes__days">minutes</p>
                </div>
                <div class="seconds playoffs">
                    <div class="number" id="seconds">0</div>
                    <p class="seconds__days">seconds</p>
                </div>
            </div>
        </div>
        <section class="home-section container">
            <div class="col-12">
                <h1> Hoop's Life</h1>
            </div>

            <div class="l-container">
                {% for cate in mainCategories %}
                <div class="b-game-card">
                        <div class="b-game-card__cover">
                            <h3>{{ cate.name }}</h3>
                            <a href="{{ path('app_categories_index', {main_id: cate.id}) }}">Voir les catégories de {{cate.name}} </a>
                        </div>
                </div>
                {% endfor %}
            </div>
        </section>

        <section class="articles container col-12 text-center">
            <h2> Actualités de la <strong>NBA</strong></h2>
        </section>
    </main>
{% endblock %}
