{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1> Hoop's Life</h1>
            </div>
                {% for cate in categories %}
                    {% if cate.parent == null%}
                        <h2 class="col-12">
                            {{ cate.name }}
                        </h2>
                    {% else %}
                        <div class="col-6">
                                    <a href="{{ cate.slug }}" class="card-cat_desc">
                                        <h3>{{ cate.name }}</h3>
                                        <p>Voir les produits</p>
                                    </a>
                        </div>
                    {% endif %}
                {% endfor %}

        </div>
    </div>
{% endblock %}
