{% extends 'base.html.twig' %}

{% block title %} {{ maincategories.name}} {% endblock %}

{% block body %}
        <section class="categories-section ">
                <div class="categoriesProducts">
                        {% for cate in detailCatMain %}
                        <div class="b-game-card">
                                <div class="b-game-card__cover">
                                        <h2>{{ cate.name }}</h2>
                                        <a href="{{ path('products_categorie_id', {id: cate.id}) }}">Voir les produits correspondant à {{cate.slug}} </a>
                                </div>
                        </div>
                        {% endfor %}
                </div>
        </section>
{% endblock %}