{% extends 'base.html.twig' %}

{% block title %} {{ maincategories.name}} {% endblock %}

{% block body %}
        {% for cate in detailCatMain %}
                <div class="row">
                        <div class="card col-4">
                                {{ cate.name }}
                                <a href="{{ path('products_categorie_id', {id: cate.id}) }}">Voir les produits correspondant </a>
                        </div>
                </div>
        {% endfor %}
{% endblock %}