{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}
{#        {{ dump(categories[0].name) }}#}

        {% for cate in categories %}
                <div class="row">
                        <div class="card col-4">
                                {{ cate.name }}
                                <a href="">Voir les produits correspondant</a>
                        </div>
                </div>
        {% endfor %}
{% endblock %}