{% block body %}
    <div class="container">
        {{ form_start(categoriesForm) }}
        {{ form_row(categoriesForm.name) }}
        {{ form_row(categoriesForm.mainCategories) }}
        <button type="submit" class="btn-primary mb-5"> Ajouter une categorie</button>
        {{ form_end(categoriesForm) }}
    </div>
{% endblock %}