{% extends 'base.html.twig' %}

{% block title %}Administrateur{% endblock %}

{% block body %}
    <h1> Ajouter une nouvelle catégorie  </h1>

    {% include 'admin/Categories/_form.html.twig' %}
{% endblock %}