header{
  width: 100%;
  height: 150px;
  .navigation{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    .logo{
        font-size: 2em;
        font-weight: bold;
        color: white;
        
    }
    .nav-links{
      ul{
        display: flex;
        .like{
          display: flex;
          height: 30px;
          position: relative;
          .like-count{
            position: absolute;
            text-align: center;
            width: 20px;
            font-size: 11px;
            top: -5px;
            right: 12px;
            border-radius: 25px;
            background-color: #0d6efd;
          }
        }
        li{
          margin: 0 25px;
          &:active{
            a{
              color: red;
              font-weight: 600;
            }
          }
        }
      }
     
    }
    .menu-hamburger{
      display: none;
      position: absolute;
      top: 50px;
      right: 50px;
    }
  }
}

@media screen and (max-width: 1000px){
header{
  .navigation {

    .nav-links {
      z-index: 99999;
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      display: flex;
      backdrop-filter: blur(8px);
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.299);
      margin-left: -100%;
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        li{
          margin: 25px;
          background-image: linear-gradient(to left top, #080719, #15151f, #1f1f25, #29292c, #333333);
          border-radius: 10px;
          width: 100%;
          text-align: center;
          
            .nav-a{
              font-size: 1.2em;
            font-weight: bolder;
            color: #ffffff;
            margin: 10px;
            }
        }
      }
      &.mobile{
        margin-left: 0;
      }
    }
    .menu-hamburger {
      display: block;
      width: 50px;
      height: 50px;
      z-index: 9999999999;
      top: 50px;
      right: 55px;
    }
  }
}

}

