header{
  width: 100%;
  height: 150px;
  .navigation{
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    .logo{
        font-size: 2em;
        font-weight: bold;
        color: white;
    }
    .nav-links{
      ul{
        display: flex;
        li{
          margin: 0 25px;
          &:active{
            a{
              color: red;
              font-weight: 600;
            }
          }
        }
      }
    }
    .menu-hamburger{
      display: none;
      position: absolute;
      top: 50px;
      right: 50px;
    }
  }
}

@media screen and (max-width: 1000px){
    .nav-links{
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
      ul{
        display: flex;
        flex-direction: column;
      }
    }
  header{
    .navigation{
      .menu-hamburger{
        display: block;
        width: 50px;
        height: 50px;
      }
    }
  }

}