.all-products{
  display: flex;
  .filter-categorie{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
    &_form{
      display: flex;
      flex-direction: column;
      margin: 10px;
    }
  }
  .products{
    width: 100%;
    border-left: solid;
  }
}