<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}HoopsLife{% endblock %} - Ventes de maillots et accessoires de basket</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- asset correspond au dossier public -->
        {% block stylesheets %}
            {{ encore_entry_link_tags('style') }}
        {% endblock %}
    </head>
    <body>

        {% include("./_commons/_header.html.twig") %}
        {% block body %}{% endblock %}
        {% include("./_commons/_footer.html.twig") %}

        {% block javascripts %}
                {{ encore_entry_script_tags('script') }}
        {% endblock %}

    </body>
</html>
