<footer class="container-fluid">
        <span class="footer-title ">A propos de nous </span>
        <div class="copyright">
            <img src="{{ asset('build/images/copyright.png') }}" alt="logo copyright">
            <p> Copyright Hoops life </p>
        </div>
    <div class="social-media">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-youtube"></i>
    </div>
</footer>